body {
  background-color: brown;
}
h1 {
  color: lightcyan;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
}
h2 {
  color: lightgray;
  font-family: sans-serif;
}
h3 {
  color: lightgray;
  font-family: sans-serif;
}
img {
  width: 700px;
}
i {
  color: silver;
  font-family: 'Times New Roman', Times, serif;
  text-align: right;
  font-size: larger;
}
p {
  text-indent: 10px;
  color: lightcyan;
  font-family: 'Times New Roman', Times, serif;
}
button {
  background-color: silver;
  color: brown;
  font-family: sans-serif;
  align-content: end;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
}
button:hover {
  background-color: darkgray;
  color: maroon;
  font-family: sans-serif;
}